@model NetControlApp.Models.AnalysesModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnalysesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnalysisName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnalysisName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserGivenNetworkType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserGivenNetworkType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserGivenNodes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserGivenNodes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserGivenTarget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserGivenTarget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserGivenDrugTarget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserGivenDrugTarget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetworkNodeCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetworkNodeCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetworkNodes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetworkNodes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetworkEdgeCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetworkEdgeCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetworkEdges)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetworkEdges)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetworkTargetCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetworkTargetCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetworkTargets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetworkTargets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetworkDrugTargetCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetworkDrugTargetCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetworkDrugTargets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetworkDrugTargets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetworkBestResultCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetworkBestResultCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetworkBestResultNodes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetworkBestResultNodes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScheduledToStop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheduledToStop)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlgorithmType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlgorithmType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeneticRandomSeed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneticRandomSeed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeneticMaxIteration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneticMaxIteration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeneticMaxIterationNoImprovement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneticMaxIterationNoImprovement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeneticMaxPathLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneticMaxPathLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeneticPopulationSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneticPopulationSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeneticElementsRandom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneticElementsRandom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeneticPercentageRandom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneticPercentageRandom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeneticPercentageElite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneticPercentageElite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeneticProbabilityMutation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GeneticProbabilityMutation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GreedyRandomSeed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GreedyRandomSeed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GreedyMaxIteration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GreedyMaxIteration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GreedyMaxIterationNoImprovement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GreedyMaxIterationNoImprovement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GreedyMaxPathLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GreedyMaxPathLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GreedyHeuristics)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GreedyHeuristics)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AnalysisId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
