@model IEnumerable<NetControlApp.Models.AnalysesModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnalysisName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGivenNetworkType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGivenNodes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGivenTarget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGivenDrugTarget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkNodeCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkNodes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkEdgeCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkEdges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkTargetCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkTargets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkDrugTargetCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkDrugTargets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkBestResultCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkBestResultNodes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledToStop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlgorithmType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneticRandomSeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneticMaxIteration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneticMaxIterationNoImprovement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneticMaxPathLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneticPopulationSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneticElementsRandom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneticPercentageRandom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneticPercentageElite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneticProbabilityMutation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GreedyRandomSeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GreedyMaxIteration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GreedyMaxIterationNoImprovement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GreedyMaxPathLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GreedyHeuristics)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalysisName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGivenNetworkType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGivenNodes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGivenTarget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGivenDrugTarget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkNodeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkNodes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkEdgeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkEdges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkTargetCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkTargets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkDrugTargetCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkDrugTargets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkBestResultCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkBestResultNodes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledToStop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlgorithmType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneticRandomSeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneticMaxIteration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneticMaxIterationNoImprovement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneticMaxPathLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneticPopulationSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneticElementsRandom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneticPercentageRandom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneticPercentageElite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneticProbabilityMutation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GreedyRandomSeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GreedyMaxIteration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GreedyMaxIterationNoImprovement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GreedyMaxPathLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GreedyHeuristics)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnalysisId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnalysisId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnalysisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
