@model IEnumerable<NetControlApp.Models.AnalysisModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnalysisName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlgorithmType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.IsCompleted == true)
            {
                <tr style="background-color:lightgreen">
                    <td>
                        @Html.DisplayFor(modelItem => item.AnalysisName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlgorithmType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Progress)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.RunId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.RunId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.RunId">Delete</a>
                    </td>
                </tr>
            }
            else
            {
                <tr style="background-color:lightblue">
                    <td>
                        @Html.DisplayFor(modelItem => item.AnalysisName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlgorithmType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Progress)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.RunId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.RunId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.RunId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>