@model IEnumerable<NetControlApp.Models.AnalysesModel>

@{
    ViewData["Title"] = "Recent analyses";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnalysisName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledToStop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsCompleted == true)
            {
                <tr style="background-color:chartreuse; margin:2rem">
                    <td>
                        @Html.DisplayFor(modelItem => item.AnalysisName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Progress)
                    </td>
                    <td>
                        <p>Completed</p>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledToStop)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.RunId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.RunId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.RunId">Delete</a>
                    </td>
                </tr>
            }
            else
            {
                <tr style="background-color:deepskyblue; margin:20px">
                    <td>
                        @Html.DisplayFor(modelItem => item.AnalysisName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Progress)
                    </td>
                    <td>
                        <p>Ongoing</p>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledToStop)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.RunId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.RunId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.RunId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
