@model IEnumerable<NetControlApp.Models.AnalysisModel>
<link rel="stylesheet" href="~/assets/css/index.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/assets/fonts/typicons.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@{
    ViewData["Title"] = "Index";
}

<h2>My Analyses</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="contentView">
    @foreach (var item in Model)
    {
       
        <div class="row asd">
            <section class="row inside col-lg-12 col-md-12 col-sm-12 col-xs-12" id='@item.AnalysisId'>
                @if (item.AlgorithmType.Equals("genetic") && 
                    (item.AlgorithmCurrentIteration == item.GeneticMaxIteration || 
                    item.AlgorithmCurrentIterationNoImprovement==item.GeneticMaxIterationNoImprovement) || 
                    item.AlgorithmType.Equals("greedy") && (item.AlgorithmCurrentIteration == item.GreedyMaxIteration || 
                    item.AlgorithmCurrentIterationNoImprovement == item.GreedyMaxIterationNoImprovement))
                    {
                    <script>
                        $(document).ready(function () {
                                    var element = document.getElementById('@item.AnalysisId');
                                    element.classList.add("cmpl");

                                });
                    </script>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm head" >
                        <b style=" color:rgb(27,92,27); font-size:120%">@Html.DisplayFor(modelItem => item.AnalysisName)</b> (<b>Algorithm type:</b>  @Html.DisplayFor(modelItem => item.AlgorithmType))
                    </p>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 head" style="display:inline-block;float:right">
                        <i class="fa fa-check icon" style=" text-decoration:none;padding:0.7rem;font-size:125%; color:green;display:inline-block;float:right"></i>
                    </p><br />
                }
                else if (item.ScheduledToStop == true)
                {
                    <script>
                        $(document).ready(function () {
                        var element = document.getElementById('@item.AnalysisId');
                        element.classList.add("stp");

                    });
                    </script>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm head" >
                        <b style="color:rgba(139, 0, 0, 0.97); font-size:120%">@Html.DisplayFor(modelItem => item.AnalysisName)</b> (<b>Algorithm type:</b>  @Html.DisplayFor(modelItem => item.AlgorithmType))
                    </p>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 head" style="display:inline-block;float:right">
                        <i class="fa fa-stop" style=" text-decoration:none;padding:0.7rem;font-size:125%; color:darkred;display:inline-block;float:right"></i>
                    </p><br />

                }
                else
                {
                    <script>
                        $(document).ready(function () {
                        var element = document.getElementById('@item.AnalysisId');
                        element.classList.add("going");

                        });
                    </script>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm head">
                        <b style=" color:rgb(20, 53, 236); font-size:120%">@Html.DisplayFor(modelItem => item.AnalysisName)</b> (<b>Algorithm type:</b>  @Html.DisplayFor(modelItem => item.AlgorithmType))
                    </p>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 head" style="display:inline-block;float:right">
                        <a asp-action="ViewAll"> <i class="fa fa-refresh icon" style=" padding:0.7rem;font-size:125%; color:rgba(20, 53, 236, 0.86);display:inline-block;float:right"></i></a>
                    </p><br />
                }
                <hr style="border-width:2px">
                <p class="col-lg-2 col-md-2 col-sm-2 col-xs-2 itemm" style="color:black;">
                    @Html.DisplayFor(modelItem => item.NetworkNodeCount) Nodes
                </p>
                <p class="col-lg-2 col-md-2 col-sm-2 col-xs-2 itemm" style="color:black;">
                    @Html.DisplayFor(modelItem => item.NetworkEdgeCount) Edges
                </p>
                <p class="col-lg-2 col-md-2 col-sm-2 col-xs-2 itemm" style="color:black;">
                    @Html.DisplayFor(modelItem => item.NetworkTargetCount) Targets
                </p>
                <p class="col-lg-2 col-md-2 col-sm-2 col-xs-2 itemm" style="color:black;">
                    @Html.DisplayFor(modelItem => item.NetworkDrugTargetCount) Drug Targets
                </p>
                <p class="col-lg-4 col-md-4 col-sm-4 col-xs-4 itemm" style="color:black;">
                    @Html.DisplayFor(modelItem => item.NetworkBestResultCount) Nodes of Best Result
                </p><br />
                <hr style="border-width:2px">
                <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black; height:2.5rem">
                    <b>Start Time:</b> @Html.DisplayFor(modelItem => item.StartTime)
                </p>
                @if (item.AlgorithmType.Equals("genetic") &&
                   (item.AlgorithmCurrentIteration == item.GeneticMaxIteration ||
                   item.AlgorithmCurrentIterationNoImprovement == item.GeneticMaxIterationNoImprovement) ||
                   item.AlgorithmType.Equals("greedy") && (item.AlgorithmCurrentIteration == item.GreedyMaxIteration ||
                   item.AlgorithmCurrentIterationNoImprovement == item.GreedyMaxIterationNoImprovement))
                {
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;height:2.5rem">
                        <b>End Time:</b> @Html.DisplayFor(modelItem => item.EndTime)
                    </p><br />
                    <hr style="border-width:2px">
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.Status)
                    </p>
                    <p class="col-lg-6 col-md-6 cold-sm-6 col-xs-6" style="align-content:center; text-align:right; font-size:120%; ">
                        <a asp-action="Details" asp-route-id="@item.AnalysisId">Details </a><i class="fa fa-level-down" style="font-size:100%"></i> |
                        <a asp-action="Delete" asp-route-id="@item.AnalysisId">Delete </a><i class="fa fa-close" style="font-size:100%"></i>
                    </p>
                }
                else if (item.ScheduledToStop == true)
                {
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;height:2.5rem">
                        <b>Stop time:</b> @Html.DisplayFor(modelItem => item.EndTime)
                    </p><br />
                    <hr style="border-width:2px">
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.Status)
                    </p>
                    <p class="col-lg-6 col-md-6 cold-sm-6 col-xs-6" style="align-content:center; text-align:right; font-size:120%; ">
                        <a asp-action="Details" asp-route-id="@item.AnalysisId">Details </a><i class="fa fa-level-down" style="font-size:100%"></i> |
                        <a asp-action="Delete" asp-route-id="@item.AnalysisId">Delete </a><i class="fa fa-close" style="font-size:100%"></i>
                    </p>

                }
                else
                {
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;height:2.5rem">
                        --/--/----
                    </p><br />
                    <hr style="border-width:2px">
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.Status)
                    </p>
                    <p class="col-lg-6 col-md-6 cold-sm-6 col-xs-6" style="align-content:center; text-align:right; font-size:120%; ">
                        <a asp-action="Details" asp-route-id="@item.AnalysisId">Details </a><i class="fa fa-level-down" style="font-size:100%"></i> |
                        <a asp-action="Stop" asp-route-id="@item.AnalysisId">Stop </a><i class="fa fa-stop" style="font-size:100%"></i>
                    </p>
                }

            </section>
        </div>
       
    }

</div>

<div>
    <a asp-action="Index"><i class="typcn typcn-arrow-back" style="font-size:200%; color:black"></i> Back to Dashboard</a>
</div>
<script src="~/assets/js/details.js"></script>