@model IEnumerable<NetControlApp.Models.AnalysisModel>
<link rel="stylesheet" href="~/assets/css/index.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="contentView">
    @foreach (var item in Model)
    {
        @if (item.Status == "Completed")
        {
            <div class="row asd">

                <section class="row inside col-lg-12 col-md-12 col-sm-12 col-xs-12 cmpl" >

                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm head" style=" color:rgb(27,92,27); font-size:120%">
                        <b>@Html.DisplayFor(modelItem => item.AnalysisName)</b>
                    </p>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 head" style="display:inline-block;float:right">
                        <i class="fa fa-check icon" style=" text-decoration:none;padding:0.7rem;font-size:125%; color:green;display:inline-block;float:right"></i>
                    </p><br />
                    <hr style="border-width:2px">
                    <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 itemm" style="color:black; height:2.5rem; font-size:120%">
                        <b>Algorithm type:</b>  @Html.DisplayFor(modelItem => item.AlgorithmType)
                    </p><br />
                    <hr style="border-width:2px">
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkNodeCount) Nodes
                    </p>
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkEdgeCount) Edges
                    </p>
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkTargetCount) Targets
                    </p>
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkDrugTargetCount) Drug Targets
                    </p><br />
                    <hr style="border-width:2px">
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black; height:2.5rem">
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </p>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;height:2.5rem">
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </p><br />
                    <hr style="border-width:2px">
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.Status)
                    </p>
                    <p class="col-lg-6 col-md-6 cold-sm-6 col-xs-6" style="align-content:center; text-align:right; font-size:120%; ">
                        <a asp-action="Details" asp-route-id="@item.AnalysisId">Details </a><i class="fa fa-level-down" style="font-size:100%"></i> |
                        <a asp-action="Stop" asp-route-id="@item.AnalysisId">Delete </a><i class="fa fa-close" style="font-size:100%"></i>
                    </p>
                </section>

            </div>

        }
        else if (item.Status == "Stopped")
        {
            <div class="row asd">

                <section class="row inside col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #10cc1ede), color-stop(1, #1e4fae33) );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#10cc1ede', endColorstr='#1e4fae33')">
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style=" color:black;border-bottom:solid 1px rgba(223,235,213,0.35)">
                        <b>@Html.DisplayFor(modelItem => item.AnalysisName)</b>
                    </p>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="display:inline-block;float:right">
                        <i class="fa fa-check icon" style="font-size:100%"></i>
                    </p>
                    <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 itemm" style="color:black; height:2.5rem">
                        <b>Algorithm type:</b>  @Html.DisplayFor(modelItem => item.AlgorithmType)
                    </p>
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm ll" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkNodeCount) Nodes
                    </p>
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm ll" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkEdgeCount) Edges
                    </p>
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm ll" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkTargetCount) Targets
                    </p>
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm ll" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkDrugTargetCount) Drug Targets
                    </p>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.StartTime.Month)/@Html.DisplayFor(modelItem => item.StartTime.Day)/@Html.DisplayFor(modelItem => item.StartTime.Year)
                    </p>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </p>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.Status)
                    </p>
                    <p class="col-lg-6 col-md-6 cold-sm-6 col-xs-6" style="align-content:center; text-align:right; font-size:120%; ">
                        <a asp-action="Details" asp-route-id="@item.AnalysisId">Details </a><i class="fa fa-level-down" style="font-size:100%"></i> |
                        <a asp-action="Delete" asp-route-id="@item.AnalysisId">Delete </a><i class="fa fa-close" style="font-size:100%"></i>
                    </p>
                </section>

            </div>

        }
        else
        {
            <div class="row asd">

                <section class="row inside col-lg-12 col-md-12 col-sm-12 col-xs-12 going" >

                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm head" style=" color:rgb(20, 53, 236); font-size:120%">
                        <b>@Html.DisplayFor(modelItem => item.AnalysisName)</b>
                    </p>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 head" style="display:inline-block;float:right">
                        <a asp-action="ViewAll"> <i class="fa fa-refresh icon" style=" padding:0.7rem;font-size:125%; color:rgba(20, 53, 236, 0.86);display:inline-block;float:right"></i></a>
                    </p><br />
                    <hr style="border-width:2px">
                    <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 itemm" style="color:black; height:2.5rem; font-size:120%">
                        <b>Algorithm type:</b>  @Html.DisplayFor(modelItem => item.AlgorithmType)
                    </p><br />
                    <hr style="border-width:2px">
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkNodeCount) Nodes
                    </p>
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkEdgeCount) Edges
                    </p>
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkTargetCount) Targets
                    </p>
                    <p class="col-lg-3 col-md-3 col-sm-3 col-xs-3 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.NetworkDrugTargetCount) Drug Targets
                    </p><br />
                    <hr style="border-width:2px">
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black; height:2.5rem">
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </p>
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;height:2.5rem">
                        --/--/----
                    </p><br />
                    <hr style="border-width:2px">
                    <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6 itemm" style="color:black;">
                        @Html.DisplayFor(modelItem => item.Status)
                    </p>
                    <p class="col-lg-6 col-md-6 cold-sm-6 col-xs-6" style="align-content:center; text-align:right; font-size:120%; ">
                        <a asp-action="Details" asp-route-id="@item.AnalysisId">Details </a><i class="fa fa-level-down" style="font-size:100%"></i> |
                        <a asp-action="Stop" asp-route-id="@item.AnalysisId">Stop </a><i class="fa fa-stop" style="font-size:100%"></i>
                    </p>
                </section>

            </div>


        }
    }

</div>


<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/assets/js/details.js"></script>