@model IEnumerable<NetControlApp.Models.AnalysesModel>
<link rel="stylesheet" href="~/assets/css/index.css" />
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="datagrid">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AnalysisName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Progress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCompleted)
                </th>

                <th>
                    More options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.IsCompleted == true)
                {

                    <tr style="background-color:#2b9e2b">
                        <td>
                            @Html.DisplayFor(modelItem => item.AnalysisName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Progress)
                        </td>
                        <td>
                            <p>Completed</p>
                        </td>
                        <td style="background-color:ghostwhite">
                            <a asp-action="Edit" asp-route-id="@item.RunId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.RunId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.RunId">Delete</a>
                        </td>
                    </tr>
                }
                else
                {

                    <tr style="background-color:#267dff">
                        <td>
                            @Html.DisplayFor(modelItem => item.AnalysisName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Progress)
                        </td>
                        <td >
                            <p>Ongoing</p>
                        </td>
                        <td style="background-color:ghostwhite">
                            <a asp-action="Edit" asp-route-id="@item.RunId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.RunId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.RunId">Stop</a>
                        </td>
                    </tr>
                }



            }
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

